<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favorite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favorite</ion-title>
    </ion-toolbar>
  </ion-header>

  @if(list().length > 0) {
  <ion-list>
    @for (news of list(); track news.id) {
    <ion-item>
      <ion-label>
        <h4>{{ news.title }}</h4>
        <p class="ion-text-capitalize">{{ news.category }}</p>
        <p>{{ news.date }}</p>
      </ion-label>
      <ion-button [routerLink]="['/news', news.id]" fill="clear">
        View Details
      </ion-button>
    </ion-item>
    }
  </ion-list>
  } @else {
  <div class="ion-padding ion-text-center">
    <p>No news or events found 🥺</p>
  </div>
  }
</ion-content>