<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favorite</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="ion-no-padding">
      <h4 class="ion-padding">
        Favorite
      </h4>
    </ion-toolbar>
  </ion-header>
  @if(list().length > 0){
  <ion-list>
    @for (news of list(); track news.id) {
    <app-news-card [data]="news"></app-news-card>
    }
  </ion-list>
  }@else {
  <div class="ion-padding ion-text-center">
    <p>No news or events.</p>
  </div>
  }
</ion-content>