<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar class="ion-no-padding" mode="ios">
      <div class="header-container ion-padding">
        <ion-avatar aria-hidden="true" class="ion-margin">
          <img class="profile-pic" alt="profile"
            [src]="image ? image :'https://ionicframework.com/docs/img/demos/avatar.svg'" />
        </ion-avatar>
        <h4>{{ name ? name : 'Ionic Dev' }}</h4>
        <p>ID: {{ id ? id :'64106' }}</p>
      </div>
    </ion-toolbar>
  </ion-header>
  @for (menuSection of menuSections; track $index) {
  <ion-card mode="ios">
    @for (menu of menuSection?.menus; track $index) {
    <ion-list lines="none" mode="ios">
      <ion-item
        (click)="!(menu.route === 'my-profile' || menu.route === 'login') ? openModal(menu.label) : navigateTo(menu.route)">
        <div class="icon" [class]="menu.class">
          <ion-icon aria-hidden="true" [name]="menu.icon" slot="start"></ion-icon>
        </div>
        <ion-label>{{menu.label}}</ion-label>
        <div class="flex">
          @if (menu.label === "Language") {
          <ion-label [style.color]="'#888'">English</ion-label>
          }
          <ion-icon name="chevron-forward-outline" class="ion-margin-start"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
    }
  </ion-card>
  }

  <!-- Modal Component -->
  <ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header mode="ios">
        <ion-toolbar mode="ios">
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>{{ currentModalTitle }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Done</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        @if (currentModalTitle === 'Notifications') {
        <app-notification></app-notification>
        } @else if (currentModalTitle === 'Language'){
        <app-language></app-language>
        }
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>