<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar class="ion-no-padding" mode="ios">
      <div class="header ion-padding">
        <div class="">
          <h4>Saved</h4>
          <p>Your saved news and events</p>
        </div>
        @if(list().length >=1 ){
        <div class="clear" (click)="clearAllSavedNews()">Clear All</div>
        }
      </div>
    </ion-toolbar>
  </ion-header>
  @if(list().length > 0){
  <ion-list mode="ios">
    @for (news of list(); track news.id) {
    <app-news-card [data]="news"></app-news-card>
    }
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" mode="ios">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  }@else {
  <div class="no-data ion-padding ion-text-center">
    <p>No news or events saved.</p>
  </div>
  }
</ion-content>