<ion-content [fullscreen]="true">
  <div class="header ion-padding">
    <ion-header collapse="condense" mode="ios">
      <ion-toolbar class="ion-no-padding" mode="ios">
        <div>
          <h4>Discover</h4>
          <p>All news and events from AEU</p>
        </div>
        <div class="search-box">
          <ion-icon class="search" name="search-outline"></ion-icon>
          <input type="text" placeholder="Search..." [value]="searchTerm()" (input)="onSearchInput($event)" />
          @if (searchTerm()) {
          <ion-icon class="clear" name="options-outline" (click)="clearSearch()"></ion-icon>
          }
        </div>
      </ion-toolbar>
    </ion-header>
  </div>

  <!-- Tabs -->
  <div class="tabs-content ion-padding-horizontal">
    <ion-chip (click)="setTab('all')" [style.background]="selectedTab() === 'all' ? '#16c769' : '#eeeeee'"
      [style.color]="selectedTab() === 'all' ? '#fff' : '#888'">
      All
    </ion-chip>
    <ion-chip (click)="setTab('news')" [style.background]="selectedTab() === 'news' ? '#16c769' : '#eeeeee'"
      [style.color]="selectedTab() === 'news' ? '#fff' : '#888'">
      News
    </ion-chip>
    <ion-chip (click)="setTab('event')" [style.background]="selectedTab() === 'event' ? '#16c769' : '#eeeeee'"
      [style.color]="selectedTab() === 'event' ? '#fff' : '#888'">
      Events
    </ion-chip>
  </div>

  <!-- News/Events list -->
  <div class="list-item">
    @if(filteredList().length > 0){
    <ion-list mode="ios">
      @for (item of filteredList(); track item.id) {
      <app-news-card [data]="item"></app-news-card>
      }
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" mode="ios">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    }
    @else {
    <div class="no-data ion-padding ion-text-center">
      <p>No {{ selectedTab() === 'news' ? 'news' : (selectedTab() === 'event' ? 'events' : 'news or events') }} found.
      </p>
    </div>
    }
  </div>
</ion-content>