.news-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.news-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
}

.news-content {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

.news-content p {
  margin-bottom: 16px;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #eeeeee;

  ion-icon {
    font-size: 18px;
    color: #000000;
  }
}

.back-button {
  margin-left: 16px;
}

.save-button {
  margin-right: 10px;
}

.top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chip-date {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ion-chip {
    background: #16c769;
    color: #fff;
  }

  .date {
    display: flex;
    align-items: center;

    ion-icon {
      margin: 0 5px 0 0;
      font-size: 20px;
    }
  }
}
