@if(news(); as news ) {
<ion-content [fullscreen]="true" class="ion-padding-top">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar color="transparent" mode="ios">
      <div class="top-content">
        <button class="back-button" (click)="onBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
        <ion-title size="medium">{{ news.category === "news" ? "News" : "Event"}} Details</ion-title>
        <button id="open-toast" class="save-button" (click)="onSave(news.id)">
          <ion-icon [name]="isSaved ? 'bookmark' : 'bookmark-outline'" [color]="isSaved ? 'warning' : ''">
          </ion-icon>
        </button>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding-top ion-padding-start ion-padding-end">
    <img [src]="news.thumbnail ? news.thumbnail : news.images[0]" [alt]="news.title" class="news-image" />
    <div class="chip-date">
      <ion-chip class="ion-text-capitalize">{{ news.category }}</ion-chip>
      <div class="date news-content"> <ion-icon name="calendar-clear-outline"></ion-icon>
        <p>{{news.date}}</p>
      </div>
    </div>
    <h3 class="news-title ion-no-margin">{{ news.title }}</h3>
    <div class="divider"></div>
    <div class="news-content ion-margin-bottom">
      <ion-text>{{ news.content }}</ion-text>
    </div>
    @for (image of news.images; track $index) {
    <img [src]="image" [alt]="news.title" class="news-image ion-margin-bottom" />
    }
  </div>
</ion-content>
} @else {
<div class="no-data ion-padding">
  <p>No news available.</p>
</div>
}