<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>News Detail</ion-title>
  </ion-toolbar>
</ion-header>
@if(news(); as news ) {
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="transparent">
      <div class="top-content">
        <button class="back-button" (click)="onBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
        <ion-title size="medium">News Detail</ion-title>
        <button class="save-button" (click)="onSave(news.id)">
          <ion-icon [name]="isSaved ? 'bookmark' : 'bookmark-outline'" [color]="isSaved ? 'warning' : ''">
          </ion-icon>
        </button>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    @if (news.images) {
    <img [src]="news.images[0]" [alt]="news.title" class="news-image" />
    }
    <h1 class="news-title">{{ news.title }}</h1>

    <div class="news-content">
      <p>{{ news.content }}</p>
    </div>
    @for (image of news.images.slice(1); track $index) {
    <img [src]="image" [alt]="news.title" class="news-image" />
    }
  </div>
</ion-content>
} @else {
<div class="ion-padding">
  <p>No news available.</p>
</div>
}