@for (section of sections; track $index) {
<ion-label [style.marginLeft]="'16px'">{{ section.title }}</ion-label>
<ion-card class="ion-no-margin">
  <ion-list [style.margin]="'10px 16px'" lines="none">
    @for (setting of section.settings; track $index) {
    <ion-item>
      @if (setting.checked != null) {
      <ion-toggle color="success" [checked]="setting.checked">{{ setting.title }}</ion-toggle>
      }@else {
      <ion-item [style.color]="'#ff0000'">
        {{ setting.title }}
      </ion-item>
      }
    </ion-item>
    }
  </ion-list>
</ion-card>
}