.breaking-news h1 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.news-section h2,
.recommendation-section h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

ion-item {
  --padding-start: 0;
}

ion-label h3 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

ion-label p {
  font-size: 14px;
  color: #666;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 16px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }

  h6 {
    margin: 4px 0 0;
    font-size: 14px;
    color: #666;
  }

  .search {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: #eeeeee;

    ion-icon {
      font-size: 18px;
      color: #000000;
    }
  }
}
