<ion-content class="ion-padding">
  <div class="recommendation-section">
    <ion-list>
      <div class="">
        @for (slids of list(); track slids.id){
          <div class="slide-show">
            <img [src]="slids.img" alt="Card Image" class="img-slide" />
            <div class="slide-content">
              <h3>{{ slids.title }}</h3>
              <p>{{ slids.date }}</p>
              <span class="news-badge">News</span>
            </div>
          </div>
        }
      </div>
      <div class="tabs-container">
        <div 
          class="tab" 
          [class.active]="activeTab === 'news'" 
          (click)="setActiveTab('news')">
          News
        </div>
        <div 
          class="tab" 
          [class.active]="activeTab === 'events'" 
          (click)="setActiveTab('events')">
          Events
        </div>
      </div>
      <!-- <div class="tabs-container">
        <div 
          class="tab"> 
          News
        </div>
        <div 
          class="tab">   
          Events
        </div>
      </div> -->
       <div class="card">
        @for (news of list(); track news.id){
          <div [routerLink]="['/news', news.id]" fill="clear">
            <ion-row>
              <ion-col size="5">
                <img [src]="news.img" alt="Card Image" class="card-image w-100" />
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h3>{{ news.category }}</h3>
                  <p class="desc">{{ news.title }}</p>
                  <p>{{ news.date }}</p>
                </ion-label>
              </ion-col>
            </ion-row>
          </div>
        }
       </div>
    </ion-list>
  </div>
</ion-content>