ion-item {
  --padding-start: 0;
}

ion-label h3 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

ion-label p {
  font-size: 14px;
  color: #666;
}

ion-infinite-scroll {
  height: 50px;
}

.aeu-logo {
  width: 45px;
  height: 45px;
  object-fit: contain;
  margin-left: -5px;
}

.breaking-news h1 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.news-section h2,
.recommendation-section h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 16px 0;
}

.header {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
  }

  h5 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }

  h6 {
    margin: 4px 0 0;
    font-size: 12px;
    color: #666;
  }

  .search {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: #eeeeee;

    ion-icon {
      font-size: 18px;
      color: #000000;
    }
  }
}

// Search ----------------------------------------------------------------
.search-box {
  position: relative;
  margin-top: 16px;
  margin: 0 16px;
  transition: all 0.3s ease-in-out;
}

.search-box .search {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
}

.search-box .clear {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}

.search-box input[type="text"] {
  width: 100%;
  padding: 10px 15px 10px 40px;
  border: none;
  outline: none;
  border-radius: 25px;
  background: #eeeeee;
  font-size: 14px;
}

// Slide show ----------------------------------------------------------------

.slide-show-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide-show {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.news-slide {
  flex: 0 0 90%;
  width: 90%;
  scroll-snap-align: start;
}

.news-card {
  height: 200px;
  background-size: cover;
  background-position: center;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 10px;
  position: relative;
}

ion-chip {
  margin: 10px;
  color: #ffffff;
  --background: #16c769;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.198);
}

.news-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.88));
  padding: 10px;
}

.news-title {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

/* Index Indicator */
.index-indicator {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.index-indicator span {
  width: 8px;
  height: 8px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 1s ease;
}

.index-indicator span.active {
  background-color: #16c769;
}
