<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>News feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="ion-no-padding">
      <div class="header ion-padding">
        <div>
          <h4>{{ greeting }}</h4>
          <h6>Here's your news feed</h6>
        </div>
        <button class="search" (click)="onSearch()">
          <ion-icon name="search-outline"></ion-icon>
        </button>
      </div>
    </ion-toolbar>
  </ion-header>
  @if(list().length > 0){
  <ion-list>
    @for (news of list(); track news.id) {
    <ion-card [routerLink]="['/news', news.id]">
      <img [src]="news.images[0]" [alt]="news.title" class="news-image" />
      <ion-card-header>
        <ion-card-title>{{ news.title }}</ion-card-title>
        <ion-card-subtitle>{{ news.date }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ news.content }}
      </ion-card-content>
    </ion-card>
    }
  </ion-list>
  }@else {
  <div class="ion-padding ion-text-center">
    <p>No news or events.</p>
  </div>
  }
</ion-content>