<ion-content class="ion-padding">
  <div class="header">
    <h3>{{ greeting }}</h3>
    <h6>Here's your news feed</h6>
  </div>
  <div class="recommendation-section">
    <h2>Recommendation</h2>
    <ion-list>
      @for (news of list(); track news.id) {
      <ion-item>
        <ion-label>
          <h3>{{ news.title }}</h3>
          <p>{{ news.category }}</p>
          <p>{{ news.date }}</p>
        </ion-label>
        <ion-button [routerLink]="['/home', news.id]" fill="clear">View Details</ion-button>
      </ion-item>
      }
    </ion-list>
  </div>
</ion-content>