<ion-content [fullscreen]="true" class="ion-padding-top">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar color="transparent" mode="ios">
      <div class="top-content">
        <button class="back-button" (click)="onBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
        <button id="open-toast" class="save-button" (click)="toggleEdit()">
          <ion-icon name="create-outline" [style.color]="isEditing() ? '#16c769' : '#ff0000'"></ion-icon>
        </button>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="header-container ion-padding-start ion-padding-end">
    <ion-avatar aria-hidden="true">
      <img class="profile" alt="profile"
        [src]="image ? image :'https://ionicframework.com/docs/img/demos/avatar.svg'" />
      <div class="upload-profile" (click)="uploadImage()"><ion-icon name="camera-outline"></ion-icon>
      </div>
    </ion-avatar>
    <input type="file" #fileInput (change)="onFileChange($event)" [style.display]="'none'" />
    <h4>{{ name ? name : 'Ionic Dev' }}</h4>
    <p>ID: {{ id ? id : '64106' }}</p>
  </div>

  @if (profileForm) {
  <form [formGroup]="profileForm">
    <ion-card class="ion-padding" mode="ios">
      <ion-card-header>
        <span class="input-label">Name</span>
      </ion-card-header>
      <ion-card-content>
        <ion-input formControlName="name">
        </ion-input>
      </ion-card-content>
      <ion-card-header>
        <span class="input-label">ID</span>
      </ion-card-header>
      <ion-card-content>
        <ion-input formControlName="id">
        </ion-input>
      </ion-card-content>
      <ion-card-header>
        <span class="input-label">Major</span>
      </ion-card-header>
      <ion-card-content>
        <ion-input formControlName="major">
        </ion-input>
      </ion-card-content>
      <ion-card-header>
        <span class="input-label">Class</span>
      </ion-card-header>
      <ion-card-content>
        <ion-input formControlName="class">
        </ion-input>
      </ion-card-content>
    </ion-card>
  </form>
  }
</ion-content>